header img{
    width: 300px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
header a{
    text-decoration: none;
    color: #ababab;
    padding-right: 10px;
    
    
}
header a:hover{
    color: #00b39b;
}
.second{
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding-top: 100px;
}
.second img{
    width: 40px;
}
.second h1{
    color: #00b39b;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    font-size: 2.125rem;
    text-align: center;
}
.second div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 40px;
    
}
.second div p{
    width: 30%;
    padding:10px;
    font-size: 20px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 2vw;
    
   
    height: 450px;
    
}
.patients{
    border: 1px solid #00b39b;
    background-color: #00b39b;
}
.doctors{
    border: 1px solid #3d83df;
    background-color: #3d83df;
}
.clinics{
    border: 1px solid #1b2734;
    background-color: #1b2734;
}
.cards h1{
    font-size: 1.500em;
    font-weight: 300;
    color: #fff;
    margin: 0.3em 0;
    font-family: Roboto,Arial,sans-serif;
}
.cards p{
    font-size: 1.406em;
    font-weight: 200;
    line-height: 1.2;
    margin: 0;
    color: #fff;
    font-family: Roboto,Arial,sans-serif;
}
.cards div{
    display: flex;
    flex-direction: column;
    
    width: 17%;
    height: 250px;
    padding: 30px 10px ;
    border-radius: 5%;
}
.chooseone select{
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.chooseone option{
    color: black;
}
.cards div img{
    width: 30px;
}
.chooseone{
    width: 75% !important;
    justify-self: flex-end;
}